

@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import 'vuetify/dist/vuetify.min.css'; // Ensure you are using css-loader
// @import "~material-design-icons/iconfont/material-icons.css";

.v-datatable .customFilter{
	max-width: 200px;
}
.v-datatable .primay-field{
	max-width: 300px;
}
.rmShadow{
	box-shadow: none;
}
a{
	text-decoration: none;
}
.user-type{
	width: 50px;
}
.status-active{
	width: 20px;
}
.usersTable table.v-table tbody td:not(:first-child){
	padding: 0 5px !important;
}
.tranporterCounter{
	background: url('../counterImage.jpg');
	background-size: cover;
    width: 100%;
    height: 100%;
}